.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .calculator-frame{
    display: flex;
} */

#display{
    display: flex;
    background-color: rgb(37, 37, 37);
    height: 12em;
    width: 52em;
    margin-bottom: 1.5em;
}

hr{
    color: rgb(199, 199, 199);;
}

button{
    cursor: pointer;
    height: 3em;
    width: 3em;
    font-size: larger;
}


.calculator-options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
}
.calculator-options div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 0.2em; */
}

.calculator-options button{
    border-radius: 50em;
    background-color: rgb(67, 66, 66);
    color: white;
}

.calculator-options .clear{
    color: rgb(234, 100, 100);
}

.calculator-options .operator, .calculator-options .brackets{
    color: rgb(47, 133, 47);
}

.calculator-options #equals{
    color: white;
    background-color: rgb(47, 133, 47);
}

.calculator-options #plus-slash-minus{
    color: white;
}

.backspace-container{
    display: flex;
    justify-content: right;
    gap:12em;
}

.backspace{
    background-color: rgb(29, 28, 28);
    color: rgb(47, 133, 47);
}